/* font */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
:root{
    --profileh2 : #2f6279;
    --profilespan : #c6d12f;
    --colorcontact : #656d72;
    --bg-profile: #dfdcdc;
     --bg-insideprofil: #142d4c;
     --text-primary: #ffffff;
     --cardbg: #3d3b3bee;
     --clr-primary: teal;
     --text-secondary: #ffffff;
     --color1: #FFF ;
     --color2: #181818 ;
     --menulist: rgb(0, 0, 0);
     --colormenu: #311377;
     --openmenu: #fff;
     --black: #000000;
     --primary: #dcdcdc;
     --bg: #000000;
     --warna: #A9A9A9;
     --oren: #d88d1d;
     --merah: #d62929;
     --grey: #433f3f;
     --clr-primary: teal;
     --clr-secondary: crimson;
     --borderbg: #e6dc1b;
     --formlabel: #f5f5f5;
     --wpp-profil: linear-gradient(0deg, #ffffff 2%,
     #EDEBE0 5%);
     --pembukabg: linear-gradient(0deg, #4B6382 1%,
     #000000 40%); 
     --navbar: #EDEBE0;
    /* First Color */
    --bg-primary: #e7e1e1;
    /* Contact Us */
    --primaryTextColor: #232e35; /* Untuk title atau judul */
    --secondaryTextColor: #656d72; /* Untuk text biasa seperti paragraph contohnya */
  
    --borderColor: #f1f1f1;
    --lineColor: #d9d9d9; /* untuk line di pre-title */
  
    --primaryBackgroundColor: #fff;
    --secondaryBackgroundColor: #fbfbfb;
    --thirdBackgroundColor: #f5f3fe;
  
    --primaryIconColor: #7e74f1;
    --primaryIconColorHover: #5d51e8;
  
    --sectionPadding: 6rem 0;
  
    --itemBorderRadius: 0.7rem;
    --colorh2slide: #606cd8;
}
   
     


    /* Secondary Color */
.dark-theme{
        --profileh2 : #eeeeee;                                                                                                  
          --profilespan : #c22929;
        --bg-primary: #e7e1e1;
        /* Profile */
         --bg-profile: #000428 ;
         --bg-insideprofil: #142d4c;
         --text-primary: #ffffff;
         --cardbg: #06053aee;
         --clr-primary: teal;
         --text-secondary: #ffffff;
         --color1: #FFF ;
         --color2: #fffefe ;
         --menulist: rgb(244, 243, 243);
         --colormenu: #ffffff;
         --openmenu: #000000;
         --black: #000000;
         --primary: #dcdcdc;
         --bg: #000000;
         --warna: #A9A9A9;
         --oren: #d88d1d;
         --merah: #d62929;
         --grey: #26267f;
         --clr-primary: teal;
         --clr-secondary: crimson;
         --borderbg: #e6dc1b;
         --formlabel: #f5f5f5;
         --wpp-profil: linear-gradient(0deg, #ffffff 2%,
         #0b0f2b 1%);
         --pembukabg: linear-gradient(0deg, #4B6382 1%,
         #000000 40%);
         --navbar:  rgb(17, 16, 16);
         --colorh2slide: #60cad8;
     
    }
    

    





**,
*::before,
*::after {
  box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
    transition:all .2s cubic-bezier(.34,1.12,.68,1.31);
        
}
html {
    color-scheme: dark;
}

header{
    width: 1200px;
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}
body {
    font-family: 'poppins', sans-serif;
    background-color: var(--bg);
    color: #fff;
    min-height: 2000px;
    
}
#icon{
    width: 30px;
    cursor: pointer;
}

.nav-bar {
    z-index: 9999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background: var(--navbar);
    padding: 12px 20px;
    font-family: 'poppins';
    
}
.logo img {width: 40px;}
.menu {display: flex;}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--menulist);
    text-align: center;
    font-size: 15px;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
    font-weight: 1200;

}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--);
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: var(--colormenu);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}
@media(max-width: 610px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--openmenu);
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}

/* slider */
.slider{
    height: 100vh;
    margin-top: -20px;
    position: relative;
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;

}
.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, #000 30%, transparent
    );
}
.slider .list .item .content{
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
}
.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}
.slider .list .item .content h2{
    font-size: 52px;
    margin: 0;
    font-family: "DM Serif Display", serif;
    font-style: normal;
}
.slider .list .item .content h2 span {
    color: var(--colorh2slide);
}
.slider .list .item .content p{
    font-size: 17.5px;
}
.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}
/* Keyframe */
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3), 
.slider .list .item.active h4{
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2,
.slider .list .item.active h4{
    animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}
.arrows{
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}
.arrows button{
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}
.arrows button:hover{
    background-color: #eee;
    color: black;
}
.thumbnail{
    position: absolute;
    bottom: 10px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 200px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item.active{
    filter: brightness(1.5);
}
.thumbnail .item .content{
    position: absolute;
    inset: auto 10px 10px 10px;
}

.hero video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 19;
}
.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(200, 200, 200, 0) 0%,
     rgba(200, 200, 200, 0) 60%);
}
.hero .content h1 span{
    color: var(--oren);
}
.hero .content .cta {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--warna);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}


/* all setting section Start*/
.pembuka, .contact{
    padding: 10rem 7% 1.4rem;
}

.pembuka h2
{
    color: rgb(254, 252, 252);
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}
.profile h2{
    color: var(--profileh2);
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}
.contact h2{
    color: var(--black);
   font-weight: 400;
    font-size: 2rem;
    margin-bottom: 3rem;
}
.contact h2 span{
    color: #5d51e8;
}
.gallery h2{
    color: var(--merah);
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}


.pembuka h2 span,
.gallery h2 span,
.contact h2 span {
    color: var(--merah);
}
.profile h2 span{
    color: var(--profilespan);
}

.profile h2{
    text-decoration: none;
}

/* all setting section End */

/* Pembuka & Biodata dan foto */


.pembuka{
    background: var(--pembukabg);
}


.pembuka .biodata {
    font-size: 1.5rem;
    font-weight: 200;
}

.pembuka .row{
    display: flex;
}

.pembuka .row .pembuka-img{
    flex: 1 1 23.5rem;
    transition-delay: .4s;
}

.pembuka .row .pembuka-img img{
    width: 100%;
    border-radius: 35px;
}
@keyframes circle-in-bottom-right {
    from {
      clip-path: circle(0%);
    }
    to {
      clip-path: circle(150% at bottom right);
    }
  }
  
  [transition-style="in:circle:bottom-right"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-bottom-right both;
  }
.pembuka .row .content{
    flex: 1 1 40rem;
    padding: 0 1rem;
    margin-left: 40px;
}

.pembuka .row .content h3{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 2px 15px rgb(255, 255, 255);
}

.pembuka .row .content span {
    color: var(--oren);
    text-decoration: underline;
}
.pembuka .row .content p {
    color: #ffffff;
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height:1.6;
}

.custom-shape-divider-bottom-1709477134 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}


/* Profile section */

.profile{
    min-height: 100vh;
    background: var(--wpp-profil);
    font-family: system-ui, sans-serif;
    color: var(--text-secondary);
    align-items: center;
    justify-content: center;
    
}
ul:where([role="list"]) {
	list-style: none;
	margin: 0;
	padding: 0;
}
.profile a {
    color: cyan;
	text-decoration: none;
    
}

/* Dynamic Txt */


.box-profile{
    z-index: 9999;
    position:relative;
    top: 85%;
    left: 52%;
    width: 8px;
    height: 8px;
    border: 1px solid crimson;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%,-50%);
    animation: animate 12s ease-in forwards infinite;
}
.box-profile:nth-child(2){
    left: 12%;
    top: 14%;
    animation-delay: 2s;
}
.box-profile:nth-child(3){
    left: 85%;
    top: 65%;
    animation-delay: 4s;
    border-color: #000;
}
.box-profile:nth-child(4){
    left: 73%;
    top: 10%;
    animation-delay: 6s;
}
.box-profile:nth-child(5){
    left: 10%;
    top: 85%;
    animation-delay: 8s;
    border-color: #000;
}
.box-profile:nth-child(6){
    left: 30%;
    top: 50%;
    animation-delay: 10s;
    border-color: #000;
}
@keyframes animate{
    from{
        transform: scale(0)  rotate(0deg) translate(-50%,-50%);
        opacity: 1;
    }
    to{
        transform: scale(20)  rotate(960deg) translate(-50%,-50%);
        opacity: 0;
    }
}

/* Card */
.container {
	width: min(100% - 2rem, 65rem);
	margin-inline: auto;
  }
  .grid {
	display: grid;
	gap: 1.5rem;
	grid-template-columns: 
	  repeat(auto-fit, minmax(min(35ch, 100%), 1fr));
  }
  .section-title {
	font-size: clamp(2rem, 5vw, 3rem);
	text-align: center;
	font-weight: bold;
	color: var(--text-primary);
	margin-bottom: 0.5em;
  }
  .flex-group {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	align-items: center;
  }
  .flow-content {
	display: grid;
	align-content: start;
	gap: 1rem;
  }
  [data-spacing="sm"] {
	gap: 0.25rem;
  }
  
  .mx-auto {
	width: fit-content;
	margin-inline: auto;
  }
  .card {
	width: min(100% - 2rem, 35ch);
	margin-inline: auto;
	background-color: var(--cardbg);
	text-align: center;
	border-radius: 0.5rem;
	position: relative;
	overflow: hidden;
	display: grid;
	gap: 0.5rem;
  }
  
  .card__name {
	font-weight: 700;
	color: var(--text-primary);
  }
  
  .card__position {
	font-style: italic;
  }
  
  .card__img {
	width: 5rem;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	border-radius: 50%;
	border: 2px solid var(--text-secondary);
  }
  
  .card__front {
	padding: 2em 2em 2.5em 2em;
	transition: 
	  opacity 250ms ease,
	  transform 450ms ease;
  }
  
  .card[data-visible="false"] .card__front {
	opacity: 1;
	transform: translateY(0);
  }
  
  .card__footer {
	background-color: var(--bg-primary);
	height: 1.5rem;
	position: relative;
	z-index: 5;
  }
  
  .card__back {
	position: absolute;
	padding: 2em 2em 2.5em 2em;
	inset: 0;
	transition: 
	  transform 450ms ease,
	  opacity 150ms ease;
	z-index: 1;
	overflow: auto;
  }
  
  .card[data-visible="false"] .card__back {
	opacity: 0;
	transform: translateY(100%);
	overflow: hidden;
  }
  
  .card[data-visible="true"] .card__front {
	opacity: 0;
	transform: translateY(100%);
	transition: 
	  opacity 150ms ease,
	  transform 450ms ease 50ms;
	  overflow: hidden;
  }
  
  .card[data-visible="true"] .card__back {
	opacity: 1;
	transform: translateY(0);
	transition: 
	  transform 350ms ease,
	  opacity 450ms ease 100ms;
	  overflow: hidden;
  }
  
  .card__social {
	justify-content: center;
	margin-bottom: 2em;
  }
  
  .card__toggle {
	text-align: 1;
	border-radius: 50%;
	width: 3rem;
	aspect-ratio: 1 / 1;
	padding: 0.5em;
	border: 0;
	background-color: var(--clr-primary);
	color: var(--text-primary);
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	transition: background-color 250ms ease;
  }
  
  .card__toggle-icon {
	transition: rotate 250ms ease;
  }
  
  .card[data-visible="true"] .card__toggle {
	background-color: var(--clr-secondary);
	overflow: hidden;
  }
  
  .card[data-visible="true"] .card__toggle-icon {
	rotate: 315deg;
  }




/* Curve */
.curve-profile{
    background: rgb(0, 0, 0);
}
.curve-profile svg{
    display: block;
}

.curved-upper{
    background:rgb(0, 0, 0);
}

.curve-gallery svg{
    display: block;
}
.profile-curve{
    color: #000;
}
/* Gallery section */

.gallery{
    min-height: 100vh;
    background: var(--bg-profile);
    padding-bottom: 100px;
}

.gallery .controls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:20px 0;
    list-style: none;
}

.gallery .controls .buttons{
    height:40px;
    width: 140px;
    background:#fff;
    color:#666;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    margin:20px;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    text-align: center;
}

.gallery .controls .buttons.active{
    background:coral;
    color:#fff;
}

.gallery .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery .image-container .image{
    height:250px;
    width: 350px;
    overflow: hidden;
    border:15px solid var(--borderbg);
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    margin: 20px;
}

.gallery .image-container .image img{
    height: 100%;
    width:100%;
    object-fit: cover;
}

.gallery .image-container .image:hover img{
    transform: scale(1.4);
}

/* css manual slide nav */
.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;

}
.manual-btn{
    border: 2px solid var(--primary);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.margin-btn:not(:last-child){
    margin-right: 40px;
}


/* Contact Section*/
#contact {
    padding: var(--sectionPadding);
  }
  
  .contact {
    display: grid;
    background-color: #fff;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
  }
  
  .contact-form div {
    margin-bottom: 1.4rem;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 0.75rem 1.3rem;
    font-family: "Roboto", sans-serif;
    background: var(--colorcontact);
    border: 1px solid var(--borderColor);
    border-radius: 3px;
    resize: none;
  }
  
  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    color: #9d9fa1;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    outline: none;
    border: 1px solid #7d7d7d;
  }
  
  .btn-submit {
    width: 100%;
    padding: 0.75rem 1.3rem;
    background-color: var(--primaryIconColor);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .btn-submit:hover {
    background-color: var(--primaryIconColorHover);
  }
  
  /* Contact Section - Right Side */
  .contact-item {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
    color: #000;
  }
  
  .contact-item-icon {
    background: var(--thirdBackgroundColor);
    /* padding: 0.8rem 1rem; */
    width: 53px;
    height: 53px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contact-item-icon svg {
    fill: var(--primaryIconColor);
  }
  
  .contact-item-detail h4 {
    margin-bottom: 0.6rem;
  }

/* Footer */
.footer{
    line-height: 1.5;
    background-color: #24262b;
    padding: 70px 0;
}
ul{
    list-style: none;
}
.container-footer{
    max-width: 1170px;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}
.col-footer{
    width: 25%;
    padding: 0 15px;
 }
 .col-footer h4{
     font-size: 18px;
     color: #ffffff;
     text-transform: capitalize;
     margin-bottom: 35px;
     font-weight: 500;
     position: relative;
 }
 .col-footer h4::before{
     content: '';
     position: absolute;
     left:0;
     bottom: -10px;
     background-color: #e91e63;
     height: 2px;
     box-sizing: border-box;
     width: 50px;
 }
 .col-footer ul li:not(:last-child){
     margin-bottom: 10px;
 }
 .col-footer ul li a{
     font-size: 16px;
     text-transform: capitalize;
     color: #ffffff;
     text-decoration: none;
     font-weight: 300;
     color: #bbbbbb;
     display: block;
     transition: all 0.3s ease;
 }
 .col-footer ul li a:hover{
     color: #ffffff;
     padding-left: 8px;
 }
 .col-footer .social-link a{
     display: inline-block;
     height: 40px;
     width: 40px;
     background-color: rgba(255,255,255,0.2);
     margin: 0 10px 10px 0;
     text-align: center;
     line-height: 40px;
     border-radius: 50%;
     color: #ffffff;
     transition: all 0.5s ease;
 }
 .col-footer .social-link a:hover{
     color: #24262b;
     background-color: #ffffff;
 }
 
 /*responsive footer*/
 
 
 
 
/* Media Queris */


/* Desktop */
@media (max-width: 1366px){
    html {
        font-size: 80%;
    }
}

/* Tablet */
@media (max-width: 768px){
    html {
        font-size: 68%;
    }
    .cards {
        width: 55%;
    }
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    .container-footer {
        width: auto;
        size: 40%;
    }
    #icon{
        margin-right: 35px;
    }
}


/* Handphone */
@media (max-width: 300px){
    html {
        font-size: 55%;
        margin: 0;
    }
    .slider{
        font-size: 60%;
    }
    .cards{
        width: 35%;
        height: 35%;
    }
    .pembuka .row .pembuka-img{
        flex: 1 1 23.5rem;
}   
    .container{
        width: 80%;
    }
    .container-footer {
        width: auto;
        size: 40%;
    }
    .moon-png{
        margin-right: 10px;
    }
    .box-profie{
        size: 50%;
    }
    }
    
    


/* ss */
@media screen and (max-width: 678px) {
    .thumbnail{
        justify-content: start;
    }
    .slider .list .item .content h2{
        font-size: 40px;
       
    }
    .slider .list .item .content p{
        font-size: 17px;
    }
    .nav-button{
        padding-right: 15px;
        align-items: center;
        justify-content: center;
    }
        
    .arrows{
        top: 10%;
    }
}



#menu {
    display: inline-block;
}

.navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    border-radius: 10px 0 5px;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
}

.navbar .navbar-nav.active{
    right: 0;
 }

 .navbar .navbar-nav a{
    display: block;
    color: black;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
 }

.navbar .navbar-nav a::after{
    transform-origin: 0 0;
}

.navbar .navbar-nav a:hover::after{
    transform: scaleX(0.2);
}

.pembuka .row {
    flex-wrap: wrap;
}

.pembuka .row .pembuka-img img{
    height: 24rem;
    object-fit: cover;
    object-position: center;
}

.pembuka .row .content{
    padding: 0;
}

.pembuka .row .content h3{
    margin-top: 1rem;
    font-size: 1.6rem;
}

/* Type Write */

.typeswrite{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: #1D1E23;
}

h1 {
    color:  var(--profileh2);
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    font-family: 'poppins';
}

h1 span {
    color: var(--colorh2slide);
    position: relative;
}

h1 span::before {
    content: "";
    height: 30px;
    width: 2px;
    position: absolute;
    top: 50%;
    right: -8px;
    background: var(--colorh2slide);
    transform: translateY(-45%);
    animation: blink 0.7s infinite;
}

h1 span.stop-blinking::before {
    animation: none;
}

@keyframes blink {
    50% { opacity: 0 }
}